In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
pd.set_option('display.max_rows', 500)

In [3]:
df = pd.read_csv('final_df_notrim.csv', sep = ',', index_col = 0)
df.head()

,lat,lon,alt,time,user,label,segment,start_go_stop,year,day_of_week,month,hour
0,39.976233,116.330567,118.110236,2007-04-12 18:23:15,161,walk,1,start,2007,Thursday,April,18
1,39.975850,116.330400,114.829396,2007-04-12 18:23:25,161,walk,1,go,2007,Thursday,April,18
2,39.975983,116.330467,114.829396,2007-04-12 18:24:37,161,walk,1,go,2007,Thursday,April,18
3,39.976100,116.330500,118.110236,2007-04-12 18:25:03,161,walk,1,go,2007,Thursday,April,18
4,39.976233,116.330567,118.110236,2007-04-12 18:26:25,161,walk,1,stop,2007,Thursday,April,18

In [4]:
df.shape

(5418388, 12)

In [5]:
df['user'].value_counts().count()

64

In [6]:
df['user'].value_counts().sort_index()

user
10     534140
20     139516
21       2340
52     141799
53        294
56       1261
58       1114
60          9
62     277040
64      37496
65     381680
67      65977
68     687220
69       4159
73      10524
75       7117
76        961
78      41693
80        569
81      40156
82      51735
84     240859
85     417408
86        391
87         83
89      17663
91        756
92       1098
96      42963
97       1466
98        639
100         9
101      1079
102      5934
104       322
105      1831
106      1233
107       118
108       464
110       554
111      5241
112     55370
114        57
115    101070
117       281
125     61717
126    235443
128    443192
129      4059
136        83
138      1629
139      1308
141    305677
144      9045
147         7
153    307207
154      2588
161       658
163    139304
167    459320
170      4343
174       362
175       265
179    118492
Name: count, dtype: int64

In [7]:
df['year'].value_counts().sort_index()

year
2007      42682
2008    3437657
2009    1025772
2010       6360
2011     905917
Name: count, dtype: int64

In [8]:
df.isnull().sum()

lat              0
lon              0
alt              0
time             0
user             0
label            0
segment          0
start_go_stop    0
year             0
day_of_week      0
month            0
hour             0
dtype: int64

In [9]:
df['label'].value_counts().sort_values()

label
motorcycle        338
run              1975
boat             3566
airplane         9193
taxi           241467
subway         286649
car            511708
train          561031
bike           948979
bus           1277291
walk          1576191
Name: count, dtype: int64

In [10]:
df = df[(df['lon'] >= 116.13) & (df['lon'] < 116.71)]
df = df[(df['lat'] >= 39.77) & (df['lat'] < 40.1)]

In [11]:
df.drop(df.loc[df['label'].isin(['motorcycle', 'run', 'boat', 'airplane'])].index, inplace = True)

In [12]:
df = df.groupby('user').filter(lambda x: len(x) > 1000)

In [13]:
df.shape

(4176773, 12)

In [14]:
df['year'].value_counts().sort_index()

year
2007      22329
2008    2463116
2009     876584
2010       6360
2011     808384
Name: count, dtype: int64

In [15]:
df.to_csv('map_df.csv', index = True)