In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
pd.set_option('display.max_rows', 500)

In [3]:
df = pd.read_csv('final_df.csv', sep = ',', index_col = 0)
df.head()

,lat,lon,alt,time,user,label,segment,start_go_stop,year,day_of_week,month,hour
0,39.981115,116.329131,492.0,2009-01-01 11:47:52,85,walk,536,start,2009,Thursday,January,11
1,39.980964,116.329300,492.0,2009-01-01 11:47:54,85,walk,536,go,2009,Thursday,January,11
2,39.980980,116.329273,492.0,2009-01-01 11:47:56,85,walk,536,go,2009,Thursday,January,11
3,39.981084,116.329219,492.0,2009-01-01 11:47:58,85,walk,536,go,2009,Thursday,January,11
4,39.981068,116.329236,492.0,2009-01-01 11:48:00,85,walk,536,go,2009,Thursday,January,11

In [4]:
df.shape

(911859, 12)

In [5]:
print(df['lon'].min())
print(df['lon'].max())

116.0500266
116.74998

In [6]:
df['user'].value_counts().sort_index()

user
68     462761
82      47261
85     155382
128    141383
153     87832
163     17240
Name: count, dtype: int64

In [7]:
df['year'].value_counts()

year
2009    911859
Name: count, dtype: int64

In [8]:
df.isnull().sum()

lat              0
lon              0
alt              0
time             0
user             0
label            0
segment          0
start_go_stop    0
year             0
day_of_week      0
month            0
hour             0
dtype: int64

In [9]:
df = df.loc[(df['year'] == 2008) | (df['year'] == 2009)]

In [10]:
df.groupby('label')['month'].value_counts()

label     month
airplane  February        30
bike      March        38144
          January      31979
          April        31366
          June         28357
          July         27568
          May          23051
          February     14834
          August       12082
          September     9966
bus       August       73593
          July         48631
          April        37498
          May          27964
          March        22756
          June         22517
          September    21889
          January       7124
          February      3488
car       April        21092
          March        20070
          January      19493
          May          17550
          February      9621
          December      4345
          September     2996
          June          2915
          July          1111
          August         754
subway    September    40492
          March        22220
          April        19461
          August       16476
          May          10374
          June          8303
          February      6524
          July          6041
          January        869
taxi      August       11437
          June          8402
          July          4854
          February      3265
          September     3245
          April         2975
          March         2762
          May           1178
train     July           125
          February        53
walk      April        37970
          July         21732
          March        19213
          August       19066
          June         17632
          May          12280
          September    12262
          January      11016
          February      8848
Name: count, dtype: int64

In [11]:
df['user'].value_counts().sort_index()

user
68     462761
82      47261
85     155382
128    141383
153     87832
163     17240
Name: count, dtype: int64

In [12]:
df.head()

,lat,lon,alt,time,user,label,segment,start_go_stop,year,day_of_week,month,hour
0,39.981115,116.329131,492.0,2009-01-01 11:47:52,85,walk,536,start,2009,Thursday,January,11
1,39.980964,116.329300,492.0,2009-01-01 11:47:54,85,walk,536,go,2009,Thursday,January,11
2,39.980980,116.329273,492.0,2009-01-01 11:47:56,85,walk,536,go,2009,Thursday,January,11
3,39.981084,116.329219,492.0,2009-01-01 11:47:58,85,walk,536,go,2009,Thursday,January,11
4,39.981068,116.329236,492.0,2009-01-01 11:48:00,85,walk,536,go,2009,Thursday,January,11

In [13]:
df['label'].value_counts().sort_values()

label
airplane        30
train          178
taxi         38118
car          99947
subway      130760
walk        160019
bike        217347
bus         265460
Name: count, dtype: int64

In [14]:
df.to_csv('map_df.csv', index = True)